<h1>Datenbank-Backup</h1>

<p>Verschlüsseltes Backup erstellen:</p>

<div><%= link_to t(:getbackup), main_getbackup_path, class: "btn btn-hdb-std btn-backup" %></div>

<div>Bitte nach dem Klicken abwarten, bis der Download beginnt und Datei dann auf sicherem Datenträger speichern (z.B. externe Festplatte etc.)</div>
