<h1 class="h1contact"><%= t(:new_contact) %></h1>

<% if (@contact.client_id) %>
  <%= render 'form', contact: @contact %>
<% else %>
  <h2>Fehler: Um einen Kontakt einzugeben, muss ein_e Klientin <%= link_to "ausgewählt", clients_path %> oder <%= link_to "angelegt", new_client_path %> werden!</h2>
<% end %>
