<h1>Editing Referralothercounselling</h1>

<%= render 'form', referralothercounselling: @referralothercounselling %>

<%= link_to 'Show', @referralothercounselling %> |
<%= link_to 'Back', referralothercounsellings_path %>
