/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import "bootstrap-datepicker3";
@import "typeaheadjs";

label {
  margin: 0;
}


.statusline {
  font-size: small;
  font-weight: bold
}

#statustime {
  text-align: right !important;
  font-weight: bold;
}

.form-control {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

.row {
  vertical-align: middle;
}

.control-label {
  vertical-align: bottom;
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
}

select.form-control {
  padding: 0;
}

.clienttable {
  width: 93%;
  border: 0px solid #909090;
  border-collapse: separate;
  border-spacing: 0;
}

.clienttable td, .clienttable th {
  border: 1px solid #D0D0D0;
}

.clienttable tr td, .clienttable tr th {
  border-right: 0;
  border-top: 0;
}

.clienttable tr th {
  border-left: 0;
}

.clienttable tr:last-child td {
  border-bottom: 0;
}

.clienttable tr td:first-child,
.clienttable tr th:first-child {
  border-left: 0;
}


.clienttable th.rotate {
  /* Something you can count on */
  height: 85px;
  white-space: nowrap;
}

.clienttable th.rotate > div {
  transform:
  /* Magic Numbers */
  translate(22px, 27px)
  /* 45 is really 360 - 45 */
  rotate(315deg);
  width: 30px;
}

.clienttable th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 1px 3px;
}

table.hdb-form-layout-table {
  border: 0;
  padding: 0;
  margin: 0;
  width: 960px;
  text-align: center;
}

tr.hdb-form-row {
  padding: 0;
  text-align: left;
  height: 22px;
}

tr.hdb-form-row-grouptitle {
  font-weight: bold;
}

td.hdb-form-grouptitle {
  padding-left: 90px;
  padding-top: 4px;
  padding-bottom: 0px;
  font-weight: bold;
}

td.hdb-form-field {
  vertical-align: middle;
  text-align: left;
  height: 20px;
  width: 280px;
}

td.hdb-form-field-nest {
  vertical-align: middle;
  text-align: left;
  padding: 0;
  margin: 0;
  border: 0;
  height: 20px;
  width: 280px;
}

table.hdb-form-table-nest {
  border-width: 0;
  padding: 0;
  table-layout:fixed;
}

td.hdb-form-nest-w80 {
  padding-right: 3px;
  width: 80%;
}

td.hdb-form-nest-w20 {
  width: 20%;
  padding-right: 4px;
}

td.hdb-form-label {
  text-align: right;
  padding-right: 10px;
  width: 200px;
  vertical-align: middle;
  margin: 0;
}

.hdb-form-select {
  padding-left: 0px !important;
  margin: 0;
}

.hdb-label {
  vertical-align: middle;
  text-align: right;
  margin: 0;
}

td.hdb-form-checkboxlabel {
  text-align: left;
  padding-left: 7px;
  min-width: 220px;
  padding-right: 20px;
  height: 24px;
  vertical-align: middle;
}

td.hdb-form-checkbox {
  text-align: right;
  padding-right: 0px;
}

.hdb-radio-box {
  text-align: left;
  width: 480px;
}

.hdb-form-input {
  height: 22px !important;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 2px;
  display: inline;
}

.tt-hint {
  padding-left: -1px !important;
  padding-top: 1px !important;
  color: #A0A0A0 !important;
  border: 0;
}

.tt-menu {
  top: 100% !important;
}



.hdb-form-radio-label {
  padding-left: 180px;
  text-align: left;
  vertical-align: middle;
  margin: 0;
  height: 24px;
}

.hdb-form-radio {
  text-align: left;
  box-sizing: content-box;
  margin-right: 7px;
  margin-bottom: 2px;
  vertical-align: middle;
  height: 100%;
}

table.hdb-client-data-table {
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-collapse: true;
  background-color: #DAEAFF;
  text-align: left;
  width: 800px;
}

table.hdb-form-contact {
  background-color: #DAFFEA;
}

table.hdb-form-client {
  background-color: #DAEAFF;
}


tr.hdb-form-contact-darker td {
  background-color: #C0F8E0;
}

.hdb-form-noinput-headrow {
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #303030;
  padding-bottom: 0px;
  padding-top: 2px;
}

.hdb-form-noinput-headcol {
  padding-left: 150px;
  padding-top: 3px;
  padding-bottom: 0px;
  margin-top: 5px;
  vertical-align: top !important;
}

.hdb-form-noinput-label {
  width: 185px;
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
}

.hdb-form-noinput-field {
  width: 215px;
  text-align: left;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.hdb-form-buttons {
  padding-left: 20px;
  padding-top: 10px;
  text-align: left;
  padding-bottom: 10px;
}


.hdb-clientsearch-buttons {
  font-weight: bold;
  text-align: right;
  vertical-align: middle !important;
  padding: 1px;
}

.hdb-contactsearch-buttons {
  font-weight: bold;
  text-align: right;
  vertical-align: middle !important;
  padding: 1px;
}


.hdb-search-line {
  height: 85px;
}

.hdb-search-field {
  vertical-align: text-top;
  text-align: left !important;
  padding: 2px;
  margin: 0;
}

.hdb-search-subfield {
  padding: 1px;
  margin: 0;
  border: none !important;
}

.hdb-searchform-minitable {
  border: none;
  border-collapse: collapse;
}

.hdb-searchform-row {
  border: none;
}

.hdb-search-input {
  font-family: verdana, arial, helvetica, sans-serif !important;
  font-size: 13px !important;
  line-height: 18px !important;
  box-sizing: border-box;
  height: 24px !important;
  padding-top: 4px !important ;
  padding-bottom: 1px !important ;
  padding-left: 3px !important ;
  padding-right: 3px !important ;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 1px;
  margin-top: 1px;
  vertical-align: middle !important;
  text-align: left;
}

td.hdb-searchform-checkboxlabel {
  text-align: left !important;
  padding-left: 2px;
  padding-right: 2px;
  height: 22px;
  border: none;
}

td.hdb-searchform-checkbox {
  text-align: left !important;
  width: 24px;
  border: none;
}

.client-edit-cancel-warning {
  padding-left: 10px;
  color: #E00000;
}


.btn {
  text-decoration: none;
  vertical-align: middle;
  padding-left: 4px !important;
  padding-right: 4px !important;
  padding-bottom: 2px !important;
  padding-top: 4px !important;
  margin: 2px;
  font-family: verdana, arial, helvetica, sans-serif !important;
}


.btn-table-mini {
  white-space: normal;
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 1px !important;
  margin: 1px !important;
  line-height: 1.05;
  border: 1px;
  border-style: solid;
}

.btn-hdb-std {
  border-style: solid;
  border-width: 2px;
  font-weight: bold !important;
}

.btn-primary {
  color: #F0F0F0 !important;
  background: linear-gradient(to bottom right, #2870c0, #286080);
  border-color: #084070 !important;
  &:hover {
    color: #FFFFFF !important;
    background: linear-gradient(to bottom right, #2880f0, #287090);
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #808080 !important;
  background: linear-gradient(to bottom right, #2870b0, #185080);
  border-color: #0004080 !important;
}

.btn-warning {
  color: #f0f0f0 !important;
  background: linear-gradient(to bottom right, #d08020, #a07010);
  border-color: #906000 !important;
  &:hover {
    color: #FFFFFF !important;
    background: linear-gradient(to bottom right, #f09020, #c07010);
  }
}

.btn-danger {
  color: #f0f0f0 !important;
  background: linear-gradient(to bottom right, #e05040, #803020);
  border-color: #702010 !important;
  &:hover {
    color: #FFFFFF !important;
    background: linear-gradient(to bottom right, #ff6050, #c04020);
  }
}


.btn-login {
  color: #f0f0f0 !important;
  font-weight: bold !important;
  background: linear-gradient(to bottom right, #e05040, #803020);
  border: #702010 solid 2px !important;
  &:hover {
    color: #FFFFFF !important;
    background: linear-gradient(to bottom right, #ff6050, #c04020);
  }
}

.btn-search {
  color: #101010 !important;
  font-weight: bold !important;
  background: linear-gradient(to bottom right, #e8e8e8, #b8b8b8);
  border: #A8A8A8 solid 2px !important;
  &:hover {
    color: #000000 !important;
    background: linear-gradient(to bottom right, #F8F8F8, #C0C0C0);
  }
}

.btn-resetsearch {
  color: #101010 !important;
  font-weight: bold !important;
  background: linear-gradient(to bottom right, #FFF8B0, #F0E080);
  border: #E8D870 solid 2px !important;
  &:hover {
    color: #000000 !important;
    background: linear-gradient(to bottom right, #FFFFD0, #F8E8A0);
  }
}

.btn-logout {
  color: #F0F0F0 !important;
  background: linear-gradient(to bottom right, #505050, #101010);
  border-color: #000000 !important;
  &:hover {
    color: #FFFFFF !important;
    background: linear-gradient(to bottom right, #808080, #202020);
  }
}

.btn-client-new {
  color: #F0F0F0 !important;
  background: linear-gradient(to bottom right, #2870c0, #286080);
  border-color: #084070 !important;
  &:hover {
    color: #FFFFFF !important;
    background: linear-gradient(to bottom right, #2880f0, #287090);
  }

  &.disabled, &:disabled {
    color: #808080 !important;
    background: linear-gradient(to bottom right, #2870b0, #185080);
    border-color: #0004080 !important;
  }
}

.btn-client-edit, .btn-client-index {
  color: #F0F0F0 !important;
  background: linear-gradient(to bottom right, #3098D8, #308090);
  border-color: #307090!important;
  &:hover {
    color: #FFFFFF !important;
    background: linear-gradient(to bottom right, #30A8FF, #3098A8);
  }
}

.btn-contact-new {
  color: #F0F0F0 !important;
  background: linear-gradient(to bottom right, #00D030, #008010);
  border-color: #007010 !important;
  &:hover {
    color: #FFFFFF !important;
    background: linear-gradient(to bottom right, #10E040, #08A020);
  }
}

.btn-contact-edit, .btn-contact-index {
  color: #F0F0F0 !important;
  background: linear-gradient(to bottom right, #48A070, #307048);
  border-color: #306040 !important;
  &:hover {
    color: #FFFFFF !important;
    background: linear-gradient(to bottom right, #58C090, #409068);
  }
}

.btn-client-delete, .btn-contact-delete {
  color: #f0f0f0 !important;
  background: linear-gradient(to bottom right, #e05040, #803020);
  border-color: #702010 !important;
  &:hover {
    color: #FFFFFF !important;
    background: linear-gradient(to bottom right, #ff6050, #c04020);
  }
}


.btn-backup {
  color: #F0F0F0 !important;
  font-weight: bold !important;
  background: linear-gradient(to bottom right, #B03090, #902070);
  border: #801060 solid 2px !important;
  &:hover {
    color: #FFFFFF !important;
    background: linear-gradient(to bottom right, #D010A0, #B01090);
  }
}
