@import "bootstrap";

body {
  line-height: 1.05;
  background-color: #fff;
  padding: 2px;
  color: #333;
  margin: 33px;
}

p, ol, ul, td {
  line-height: 1.00;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h1 {
  font-size: 2.0rem !important;
  margin-top: 1.0rem !important;
  margin-bottom: 0.1rem !important;
  padding: 0 !important;
  font-weight: 500 !important;
  line-height: 1.1 !important;
  color: inherit !important;
}


a {
  color: #003090;
  text-decoration: underline;

  &:visited {
    color: #003090;
  }

  &:hover {
    color: #003090;
    background-color: #FFF0D8;
  }
}

td {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

div {
  &.field, &.actions {
  }
}

#notice {
  @extend .alert, .alert-success, .alert-dismissible, .fade, .show;
}

.field_with_errors {
  background-color: #FFD8D0;
}

#error_explanation {
  @extend .alert, .alert-danger, .alert-dismissible, .fade, .show;

  h2 {
    @extend .alert-heading;
    }

  ul li {
    list-style: square;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

label {
}
